@page

@{
    ViewData["Title"] = "Carreras";
}
<h1>@ViewData["Title"]</h1>

<div class="carrersTitles">
    <p>Ingenieria en Software</p>
    <p>Odontologia</p>
    <p>Mercadotecnia</p>
</div>

<div class="carrersImage">
	<img src="~/content/dispoingsoftware.jpg" />
	<img src="~/content/dispoodontology.jpg" />
	<img src="~/content/dispomarketing.jpg" />
</div>

<div class="infoButtons">
    <a class="nav-link text-dark" asp-area="" asp-page="Carrers/IngenieriaSoftware">Mas informacion</a>
    <button>Mas informacion</button>
    <button>Mas informacion</button>

</div>
