@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/index.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">
        Mejor educacion, <br />
        por un mundo<br />
        mejor
    </h1>

    <div class="rectangulo">
        <p>Descubre tu potencial. Lidera el futuro. ¡Tu viaje hacia la excelencia comienza AQUI!</p>
    </div>

    <div class="backgroundimage">
        <img src="~/content/ubbasquet.jpg" />
    </div>
</div>