@page
@{
    ViewData["Title"] = "Ingenieria en Software";
}
<h1>@ViewData["Title"]</h1>

<div class="textPrincipal">
    <h3>Esta carrera es ideal para aquellos que tienen un fuerte interEs en la tecnologIa y la resoluciOn de problemas</h3>
</div>

<div class="dispo">
	<img src="c:\users\user\documents\universidad\7mo cuatrimestre\decidete\universidadbinacionalweb\universidadbinacionalweb\wwwroot\content\dispoingsoftware.jpg" />
</div>

<div class="paraTiText">
    <h3>Para ti, futuro lider</h3>
    <p>
        La Ingeniería en Diseño de Software es una carrera que se centra en el desarrollo y diseño de aplicaciones y sistemas de software. Los estudiantes aprenden a utilizar diferentes lenguajes de programación, algoritmos, bases de datos y técnicas de diseño para crear software eficiente y seguro. También se enfocan en el análisis de necesidades del usuario, pruebas de software y mantenimiento de sistemas
    </p>
</div>

<div class="perfilEgresadoText">
    <h3>Perfil de egresado</h3>
    <p>
        Un egresado de la carrera de Ingeniería en Diseño de Software es un profesional altamente capacitado para diseñar, desarrollar, implementar y mantener sistemas de software de alta calidad. Este profesional tiene una sólida formación en ciencias de la computación, ingeniería de software, diseño de sistemas y gestión de proyectos
    </p>
</div>

<div class="infoExtra">
    <p>inicias tus clases en: septiembre</p>
    <p>Modalidad: escolarizada, lunes a jueves</p>
    <p>
        tu licenciatura en tan solo
        11 cuatrimestres (3 años, 11 meses)
    </p>
</div>